.background-image-home{
  opacity:0.2;
  background-size:cover;
  height:600px;  
}
@media only screen and (max-width: 800px) {
    p{
        font-size:15px ; 
    }
    .Button1{
        font-size: 10px;
        display: block;
        margin: auto;
      }
    .Button2{
        font-size: 10px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .background-image-home{
      height: 500px;
    }
  }